
  
    
<router-outlet></router-outlet>
    
    <section class="hero" routerLink="/profile" >
        
        <div class="hero-inner">
    
            <h1>WELCOME TO SHELTO {{currentUser.firstName}}!</h1>
    
            <h4>Where hope is just a click away</h4>
    
        </div>
    
    </section>
    
    
    
    <div class="separator"  routerLink="/profile">
    
    </div>
    
    <div class="post">
    
        <a href="file:///C:/Users/Folasade/Documents/GSU/Summer%202018/Shelto/profile_page.html">
    
        <img src="https://images.pexels.com/photos/214574/pexels-photo-214574.jpeg?auto=compress&cs=tinysrgb&h=350"alt="">
    
        <div class="post-s">
    
            <h2>PROFILE</h2>
    
        </div>
    
        </a>
    
    </div>
    
    
    
    <div class="post2" routerLink="/profile">
    
        <a href="file:///C:/Users/Folasade/Documents/GSU/Summer%202018/Shelto/map_page.html">
    
        <img src="https://images.pexels.com/photos/136743/pexels-photo-136743.jpeg?auto=compress&cs=tinysrgb&h=350"alt="">
    
        <div class="post2-s">
    
            <h2>SEARCH</h2>
    
        </div>
    
        </a>
    
    </div>
    
    
    
    <div class="post3">
    
        <a href="file:///C:/Users/Folasade/Documents/GSU/Summer%202018/Shelto/about_page.html">
    
        <img src="https://images.pexels.com/photos/1243524/pexels-photo-1243524.jpeg?auto=compress&cs=tinysrgb&h=350"alt="">
    
        <div class="post3-s">
    
            <h2>ABOUT</h2>
    
        </div>
    
        </a>
    
    </div>
    
    
    
 